@using Icarus.Discord;
@using System.Security.Claims;

@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="nav-menu">
    <div class="logo-parent">
        <svg width="122" height="36" viewBox="0 0 122 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
            <path d="M46.0093 24.7449H42.8302H41.8588V10.34V9.10275C41.8588 8.926 41.8146 8.79344 41.6822 8.70507C41.5938 8.61669 41.4614 8.52832 41.2848 8.52832H40.0043V9.9423V26.6008H44.4198C44.7288 26.6008 44.9496 26.5566 45.0821 26.424C45.2145 26.3356 45.347 26.2031 45.3912 26.0705C45.4353 26.0263 45.4795 25.8938 45.5678 25.717C45.6119 25.6728 45.6119 25.5845 45.6561 25.5403C45.8327 25.2752 45.921 25.01 46.0093 24.7449Z" fill="#F89A22" />
            <path d="M51.617 8.57227H48.3054V11.7537V22.6679V26.6447H51.617H51.6612C51.7495 26.6447 51.8378 26.6447 51.9703 26.6447C52.0144 26.6447 52.0586 26.6447 52.1027 26.6447C52.1911 26.6447 52.2352 26.6447 52.3235 26.6005C52.3677 26.6005 52.4118 26.6005 52.456 26.5563C52.5001 26.5563 52.5884 26.5121 52.6326 26.5121C52.6768 26.5121 52.7209 26.5121 52.7209 26.468C52.7651 26.468 52.8534 26.4238 52.8975 26.3796C52.9417 26.3796 52.9417 26.3796 52.9858 26.3354C53.0741 26.2912 53.1625 26.247 53.2066 26.2028L53.2508 26.1586C53.2949 26.1145 53.3391 26.0703 53.3832 26.0261C53.4274 26.0261 53.4274 25.9819 53.4715 25.9819C53.5157 25.9377 53.5599 25.8935 53.604 25.8493C53.604 25.8052 53.6482 25.8052 53.6482 25.761C53.6923 25.7168 53.7365 25.6726 53.7365 25.6284L53.7806 25.5842C54.0456 25.1865 54.178 24.6121 54.178 23.9493V13.0351V11.1351C54.178 9.41182 53.3391 8.57227 51.617 8.57227ZM51.9261 24.7447C51.882 24.7447 51.882 24.7889 51.8378 24.7889C51.7937 24.7889 51.7937 24.833 51.7495 24.833C51.7053 24.833 51.6612 24.8772 51.617 24.8772H51.5729C51.5287 24.8772 51.4404 24.8772 51.3963 24.8772H50.1599V10.2514H51.3963C51.5287 10.2514 51.6612 10.2956 51.7937 10.2956C51.9261 10.3397 52.0144 10.4281 52.1027 10.5165C52.2794 10.6932 52.3677 11.0025 52.3677 11.4444V12.5933V23.6842C52.3677 24.126 52.2794 24.3912 52.1027 24.6121C52.0586 24.6563 52.0144 24.6563 52.0144 24.7005C51.9703 24.7005 51.9261 24.7447 51.9261 24.7447Z" fill="#F89A22" />
            <path d="M61.596 13.1235C61.8168 13.0351 62.0817 12.9026 62.3467 12.77C62.6116 12.6375 62.8324 12.5491 62.9207 12.5049C62.9648 12.4607 63.0532 12.4165 63.0973 12.3723C63.1415 12.3281 63.2298 12.2398 63.2739 12.1956C63.3622 12.063 63.4505 11.8421 63.4505 11.5328V10.8258C63.4505 10.5165 63.4064 10.2514 63.2739 9.94205C63.1415 9.63275 63.009 9.41181 62.7882 9.19088C62.6116 8.96994 62.3467 8.79319 62.0817 8.66063C61.8168 8.52807 61.5077 8.48389 61.2428 8.48389H60.0506C59.7415 8.48389 59.4325 8.52807 59.1675 8.66063C58.9026 8.79319 58.6818 8.96994 58.461 9.19088C58.2403 9.41181 58.1078 9.67693 57.9753 9.94205C57.8429 10.2072 57.7987 10.5165 57.7987 10.8258V12.6816C57.7987 12.9909 57.8429 13.3003 57.9312 13.6538C58.0195 14.0072 58.1078 14.3166 58.1961 14.5817C58.1961 14.5817 58.1961 14.5817 58.1961 14.6259C58.2403 14.7584 58.2844 14.891 58.3286 15.0235C58.3727 15.0677 58.3727 15.1561 58.4169 15.2003C58.461 15.2887 58.461 15.3329 58.5052 15.4212C58.5052 15.4654 58.5494 15.5096 58.5494 15.5538L60.7571 19.7074C60.9337 20.0609 61.1103 20.3702 61.1987 20.6795C61.287 20.9888 61.3753 21.2539 61.4194 21.4306C61.5077 21.6958 61.5519 21.9167 61.5519 22.1376V24.1702C61.5519 24.4354 61.4636 24.7005 61.287 24.8772C61.1103 25.054 60.8896 25.1423 60.5805 25.1423C60.3155 25.1423 60.0948 25.054 59.874 24.8772C59.6974 24.7005 59.5649 24.4795 59.5649 24.2144V21.0772C59.3 21.1655 59.0351 21.2981 58.7701 21.4306C58.5052 21.5632 58.2844 21.6516 58.1961 21.6958C58.0637 21.7841 57.9753 21.8725 57.8429 22.0051C57.7546 22.1376 57.6663 22.3586 57.6663 22.6679V24.5237C57.6663 25.1423 57.887 25.6726 58.3286 26.1145C58.7701 26.5563 59.3 26.7773 59.874 26.8214H61.022C61.6402 26.8214 62.1701 26.6005 62.6558 26.1586C63.0973 25.7168 63.3181 25.1865 63.3181 24.5237V22.2702C63.3181 21.9609 63.2739 21.6516 63.1856 21.3423C63.0973 20.9888 63.009 20.6795 62.8765 20.4143C62.7441 20.105 62.6116 19.7515 62.4791 19.4422L61.2428 17.0561L60.3156 15.3329C60.1389 14.9794 59.9623 14.6701 59.874 14.3607C59.7857 14.0514 59.6974 13.7863 59.6532 13.6096C59.5649 13.3444 59.5208 13.1235 59.5208 12.9026V11.0467C59.5208 10.7816 59.6091 10.5165 59.8298 10.3397C60.0065 10.163 60.2714 10.0304 60.5363 10.0304C60.8013 10.0304 61.0662 10.1188 61.2428 10.3397C61.4194 10.5165 61.5519 10.7816 61.5519 11.0467V13.1235H61.596Z" fill="#F89A22" />
            <path d="M71.4426 13.4328C71.6192 13.3444 71.84 13.2561 72.0607 13.1677C72.3698 13.0351 72.5464 12.9468 72.6347 12.9026C72.7672 12.8142 72.8555 12.7258 72.988 12.5933C73.0763 12.4607 73.1646 12.2398 73.1646 11.9305V10.7816C73.1646 10.3839 73.0763 10.0304 72.8997 9.72112C72.8114 9.54437 72.6789 9.36762 72.5023 9.19088C72.0607 8.74901 71.5309 8.52807 70.9127 8.48389H69.7647C69.5881 8.48389 69.3673 8.52807 69.1907 8.57226C68.7933 8.66063 68.44 8.88157 68.131 9.19088C67.9102 9.41181 67.7777 9.63275 67.6452 9.89787V9.94205C67.6452 9.98624 67.6452 9.98624 67.6011 10.0304C67.5569 10.1188 67.5128 10.2514 67.5128 10.3839C67.5128 10.4281 67.5128 10.4723 67.5128 10.5165C67.5128 10.6049 67.4686 10.7374 67.4686 10.87V17.8515V24.5679C67.4686 25.1865 67.6894 25.761 68.131 26.2028C68.5725 26.6447 69.1024 26.8656 69.7205 26.8656H70.8686C71.4867 26.8214 72.0166 26.6005 72.4581 26.1586C72.8997 25.7168 73.1205 25.1865 73.1205 24.5679V17.9399C73.1205 17.8957 73.1205 17.8073 73.1205 17.7631V17.7189V17.6748C73.1205 17.6306 73.1205 17.5864 73.0763 17.5422V17.498C73.0763 17.4538 73.0321 17.4096 73.0321 17.3655V17.3213C72.988 17.2771 72.988 17.2329 72.9438 17.1887C72.7672 17.0561 72.5464 16.9678 72.2815 16.9678H69.9413L70.5595 18.2492C70.6478 18.3818 70.6919 18.5143 70.7802 18.5585C70.8686 18.6469 70.9127 18.6911 71.001 18.7352C71.0893 18.7794 71.1335 18.8236 71.2218 18.8236H71.3101V24.1702C71.3101 24.4354 71.2218 24.6563 71.001 24.8772C70.8244 25.054 70.5595 25.1865 70.2945 25.1865C70.0296 25.1865 69.7647 25.0982 69.5881 24.8772C69.4114 24.7005 69.3231 24.4354 69.3231 24.1702V17.7631V11.0467C69.3231 10.7816 69.4114 10.5607 69.5881 10.3397C69.7205 10.2072 69.8971 10.1188 70.0738 10.0746C70.1179 10.0746 70.2062 10.0746 70.2945 10.0746C70.5595 10.0746 70.7802 10.163 71.001 10.3839C71.2218 10.6049 71.3101 10.8258 71.3101 11.0909V13.5654C71.3543 13.477 71.3984 13.477 71.4426 13.4328Z" fill="white" />
            <path d="M82.1722 17.7631L80.9359 9.54438C80.8917 9.27926 80.8476 9.05832 80.7151 8.88157C80.5826 8.66064 80.3619 8.57227 79.9203 8.57227H78.9489L77.5359 17.7631L76.2113 26.6005H78.2424L79.3905 17.7631L79.7437 15.0236L79.8762 14.184L81.4657 26.6447H83.4969L82.1722 17.7631Z" fill="white" />
            <path d="M94.8447 8.57227H93.6967C93.3435 8.57227 93.1668 8.66064 93.0344 8.88157C92.9461 9.05832 92.9019 9.19088 92.8578 9.23507L90.8266 19.619L90.4292 17.7631L88.663 9.23507C88.6189 9.05832 88.5747 8.96995 88.4864 8.83739C88.3981 8.74901 88.3098 8.66064 88.2215 8.66064C88.1332 8.61645 88.0007 8.57227 87.8682 8.57227H86.7202V26.6005H88.5747V17.7631V17.3213L89.6344 22.0493C89.6344 22.1376 89.6786 22.2702 89.7228 22.4469C89.7669 22.6237 89.8552 22.7563 89.9435 22.933C90.0318 23.1098 90.1643 23.2423 90.3409 23.3307C90.5175 23.4632 90.7383 23.5074 91.0032 23.5074H91.5773L92.8578 17.8073L92.9019 17.5864L92.9461 17.3655V17.8073V26.6447H94.8006L94.8447 8.57227Z" fill="white" />
            <path d="M104.206 24.7444H100.32V18.5141C100.32 18.3815 100.364 18.2931 100.452 18.2048C100.541 18.1164 100.629 18.0722 100.761 18.0722L101.512 18.1164C101.821 18.1164 102.042 18.0722 102.174 17.9396C102.307 17.8513 102.439 17.7187 102.483 17.5862C102.528 17.5862 102.616 17.4978 102.704 17.3652C102.837 17.2327 102.925 17.0559 103.013 16.9233C103.102 16.7466 103.19 16.614 103.19 16.4815C103.234 16.3489 103.19 16.3047 103.057 16.3047H100.276V10.8256C100.276 10.693 100.32 10.6046 100.408 10.5162C100.452 10.4721 100.497 10.4721 100.497 10.4721C100.541 10.4279 100.629 10.4279 100.717 10.4279H102.219C102.528 10.4279 102.748 10.3837 102.881 10.2511C103.013 10.1186 103.146 10.0302 103.19 9.89763C103.234 9.89763 103.278 9.80926 103.411 9.6767C103.543 9.54414 103.632 9.36739 103.72 9.23483C103.808 9.10227 103.896 8.92552 103.896 8.79296C103.941 8.6604 103.896 8.61621 103.764 8.61621H98.9511C98.8186 8.61621 98.6862 8.6604 98.5537 8.74877C98.4212 8.83715 98.3771 8.96971 98.3771 9.14645V16.614V26.6445H102.528C102.837 26.6445 103.057 26.6003 103.19 26.4677C103.322 26.3793 103.455 26.2468 103.499 26.1142C103.543 26.1142 103.587 26.0258 103.72 25.8933C103.852 25.7607 103.941 25.584 104.029 25.4514C104.117 25.2747 104.206 25.1421 104.206 25.0095C104.382 24.8328 104.338 24.7444 104.206 24.7444Z" fill="white" />
            <path d="M112.595 17.7192C112.683 17.6308 112.772 17.4541 112.86 17.2331C112.948 17.0122 112.992 16.7471 112.992 16.3936V11.2679V10.7819C112.992 10.4725 112.948 10.1632 112.816 9.89811C112.683 9.63299 112.551 9.36787 112.33 9.19112C112.109 8.97019 111.889 8.83763 111.624 8.70507C111.359 8.57251 111.05 8.52832 110.741 8.52832H107.385V26.5566H109.239V23.5077V18.8239H110.211C110.476 18.8239 110.696 18.9122 110.917 19.0448C111.094 19.2215 111.226 19.5309 111.226 19.9727V22.4472V26.5566H113.081V21.4751V19.6634C113.081 19.3099 113.037 19.0448 112.948 18.8239C112.86 18.6029 112.772 18.4262 112.683 18.2936C112.595 18.1169 112.463 18.0285 112.33 17.9401C112.374 17.9401 112.507 17.8518 112.595 17.7192ZM110.829 16.9238C110.652 17.0564 110.387 17.1448 110.122 17.1448H109.151V12.1075V10.4284H110.122C110.387 10.4284 110.608 10.4725 110.829 10.6051C111.005 10.7377 111.138 10.9586 111.138 11.3121V16.0401C111.138 16.482 111.005 16.7471 110.829 16.9238Z" fill="white" />
            <path d="M120.896 12.77C121.161 12.6375 121.382 12.5491 121.47 12.5049C121.603 12.4165 121.691 12.3281 121.823 12.1956C121.912 12.063 122 11.8421 122 11.5328V10.8258C122 10.5165 121.956 10.2514 121.823 9.94205C121.735 9.76531 121.647 9.58856 121.558 9.456C121.558 9.456 121.558 9.456 121.514 9.41181C121.47 9.32344 121.382 9.23506 121.338 9.19088C121.161 8.96994 120.896 8.79319 120.631 8.66063C120.366 8.52807 120.057 8.48389 119.792 8.48389H118.644C118.335 8.48389 118.026 8.52807 117.761 8.66063C117.496 8.79319 117.231 8.96994 117.055 9.19088C116.834 9.41181 116.701 9.67693 116.569 9.94205C116.525 9.98624 116.525 10.0746 116.481 10.1188V10.163C116.481 10.2072 116.436 10.2514 116.436 10.3397V10.3839C116.436 10.4281 116.436 10.5165 116.392 10.5607C116.392 10.649 116.392 10.7374 116.392 10.8258V12.6816C116.392 12.9909 116.436 13.3003 116.525 13.6538C116.613 14.0072 116.701 14.3166 116.79 14.5817C116.878 14.891 117.01 15.2445 117.187 15.5538L119.395 19.7074C119.571 20.0609 119.748 20.3702 119.836 20.6795C119.925 20.9888 120.013 21.2539 120.057 21.4306C120.145 21.6958 120.19 21.9167 120.19 22.1376V24.1702C120.19 24.4354 120.101 24.7005 119.925 24.8772C119.748 25.054 119.527 25.1423 119.218 25.1423C118.953 25.1423 118.732 25.054 118.512 24.8772C118.335 24.7005 118.203 24.4795 118.203 24.2144V21.0772C117.938 21.1655 117.673 21.2981 117.408 21.4306C117.143 21.5632 116.922 21.6516 116.834 21.6958C116.701 21.7841 116.613 21.8725 116.481 22.0051C116.392 22.1376 116.304 22.3586 116.304 22.6679V24.5237C116.304 25.1423 116.525 25.6726 116.966 26.1145C117.408 26.5563 117.894 26.7773 118.512 26.8214H119.66C120.278 26.8214 120.808 26.6005 121.293 26.1586C121.735 25.7168 121.956 25.1865 121.956 24.5237V22.2702C121.956 21.9609 121.912 21.6516 121.823 21.3423C121.735 20.9888 121.647 20.6795 121.514 20.4143C121.382 20.105 121.249 19.7515 121.117 19.4422L118.953 15.3329C118.777 14.9794 118.6 14.6701 118.512 14.3607C118.423 14.0514 118.335 13.7863 118.291 13.6096C118.203 13.3444 118.158 13.1235 118.158 12.9026V11.0467C118.158 10.7816 118.247 10.5165 118.468 10.3397C118.644 10.163 118.909 10.0304 119.174 10.0304C119.439 10.0304 119.704 10.1188 119.881 10.3397C120.057 10.5165 120.19 10.7816 120.19 11.0467V13.1235C120.366 13.0351 120.631 12.9026 120.896 12.77Z" fill="white" />
            <path d="M30.5993 26.5121L15.2776 35.3495L0 26.5121V8.83738L15.2776 0L30.5993 8.83738V26.5121Z" fill="white" />
            <path d="M28.9214 9.80936V25.5399L15.2776 33.4052L1.67786 25.5399V9.80936L15.2776 1.8999L28.9214 9.80936Z" fill="#F89A22" />
            <path d="M14.1296 8.08632L14.8361 7.77702L15.2776 6.31885L15.7633 7.77702V7.8212L16.4698 8.13051L16.9555 7.42352H17.7062L16.5581 9.01425L15.2776 8.43982L14.0413 9.05843L12.8491 7.37933H13.6439L14.1296 8.08632Z" fill="white" />
            <path d="M16.2049 13.2118L17.0439 15.3327L17.7503 14.2281L20.6646 12.5932L25.0359 11.842L27.2436 10.8699L25.7865 13.5211L21.1061 14.6699L24.6827 14.4932L23.6229 16.1723L18.8984 17.4095H21.7684L20.7087 18.9119L18.3243 19.4863L17.7503 18.9561L17.3088 19.3979L18.3243 23.1096L17.662 24.7004L16.6023 22.0492L16.9555 26.4237L15.3218 30.4005H15.2777L13.6439 26.4237L13.9972 22.005L12.9374 24.7004L12.2751 23.1096L13.2907 19.3538L12.8491 18.9119L12.2751 19.4421L9.89076 18.8677L8.83104 17.4095H11.7011V17.3653L6.97654 16.1281L5.87266 14.4932L9.49337 14.6258L4.81295 13.5211L3.35583 10.8257L5.56358 11.842L9.93491 12.5932L12.8491 14.2281L13.5556 15.2886L13.8647 13.4769L13.2465 13.5653L13.6439 12.8141L12.5401 12.9908L13.3348 12.1513L12.5842 12.1955L12.0543 12.4164L12.4959 11.8862L15.2777 11.0024L17.927 12.5932V13.2118H16.2049Z" fill="white" />
        </svg>
    </div>
    @foreach (var group in Links.GroupBy(l => l.requiredRole))
    {
        @if(group.Key != "")
        {
            <hr />
        }

        @foreach (var row in group)
        {
            <NavLink class="nav-link" href="@row.href" Match="NavLinkMatch.All">
                <div class="nav-link-row">
                    <span class="material-symbols-outlined nav-link-icon">
                        @row.icon
                    </span>
                    <span class="nav-link-text">@row.label</span>
                </div>
            </NavLink>
        }
    }
</div>

<div>
    <div class="nav-link-row-bottom">
        <img class="user-avatar" src="@AvatarUrl" alt="Avatar" />
        <span class="username">@Username</span>
    </div>
    <NavLink class="nav-link" href="/signout" Match="NavLinkMatch.All">
        <div class="nav-link-row-bottom">
            <span class="material-symbols-outlined nav-link-icon">
                logout
            </span>
            <span class="nav-link-text">Sign Out</span>
        </div>
    </NavLink>
</div>

@code {
    string AvatarUrl = "";
    string Username = "";

    public List<string> Roles;

    public List<(string icon, string label, string href, string requiredRole)> Links = new()
    {
        ("home", "Home", "", ""),
        ("hotel_class", "Sponsorship", "/sponsorship", ""),
        ("badge", "IGNs", "/igns", ""),
        ("group", "Roles", "/roles", ""),
        ("inventory_2", "Inventory", "/inventory", ""),
        ("store", "Store", "/store", ""),
        ("leaderboard", "Leaderboard", "/leaderboard", ""),
        ("gpp_maybe", "Infractions", "/infractions", ""),
        ("settings", "Settings", "/settings", "Manager"),
        ("recent_actors", "Roleplaying", "/roleplay", "Manager"),
        ("filter_list", "Filter", "/filter", "Manager"),
        ("description", "Logs", "/logs", "Manager"),
    };

    protected override async void OnInitialized()
    {
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;

        AvatarUrl = user.Claims.First(c => c.Type == "urn:discord:avatar:url").Value + "?size=32";
        Username = user.Identity.Name;

        Roles = user.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).ToList();
        Links = Links.Where(l => l.requiredRole == "" || Roles.Contains(l.requiredRole)).ToList();
    }
}
