@page "/guildsettings"
@attribute [Authorize(Roles = "Manager")]

@using DSharpPlus.Entities;
@using Icarus.Discord;
@using Icarus.ServerSettings;
@using Icarus.Models

@inject DataContext DataContext
@inject DiscordBotService Bot
@inject IConfiguration Config

<PageTitle>Server Settings</PageTitle>

<h1>Server Settings</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Preview</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in ConfigData)
        {
            <tr>
                <td colspan="5"><h3>@group.Key</h3></td>
            </tr>
            
            @foreach (var data in group)
            {
                <tr>
                    <td><span class="oi @(
                            data.Item1.Type == ServerSettingType.Channel ? "oi-chat" :
                            data.Item1.Type == ServerSettingType.Role ? "oi-people" :
                            data.Item1.Type == ServerSettingType.User ? "oi-person" :
                            data.Item1.Type == ServerSettingType.Text ? "oi-align-left" :
                            data.Item1.Type == ServerSettingType.Decimal ? "oi-calculator" : ""
                        )" aria-hidden="true"></span> @data.Item1.Name.Split(':')[1]</td>
                    <td>
                        <input type="text" id="input-@data.Item1.Name" name="input-@data.Item1.Name" value="@data.Item2?.Value" @oninput="(e) => OnInput(e, data.Item1.Name)"/>
                    </td>
                    <td>
                        @data.Item3
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    List<IGrouping<string, (ServerSettingTemplate, ServerSetting, string)>> ConfigData;

    protected override void OnInitialized()
    {
        ConfigData = ServerSettingExtensions.LoadConfigValues(DataContext, Bot, Config);
    }

    void OnInput(ChangeEventArgs e, string key)
    {

        ServerSettingExtensions.Set(key, e.Value.ToString(), Bot, DataContext, Config);
        ConfigData = ServerSettingExtensions.LoadConfigValues(DataContext, Bot, Config);
    }
}
